/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Basic type and layout
# Navigation

-----------------------------------------------*/

@import "mixins"; 

/* reset */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	margin:0;
	padding:0;
	overflow-x: hidden;
}


/* variables */

:root {
	--text: rgb(0,0,0);
	--white: rgb(250,250,250);
	--main-color: #555555;
	--secondary-color: #999999;
	--transparency: rgba(250,250,250,0);

	--pad: 50px;

	--supsize: 0.5em;
	--runnersize: 0.5em;

	@include at-media(mobile) {
		
		--pad: 20px;
		
		--runnersize: 0.75em;
		--supsize: 0.5em;
	}		
}


/* Basic Type */

body, p, h1, h2, h3, h4, code {
	font-family: PingFangSC-Regular, Arial, Helvetica, sans-serif;
	font-size: 40px;	
	line-height: 1.2;
	font-weight: 200;   
	margin: 0;
	padding: 0;

	@include at-media(mobile) {
		font-size: 28px;	
	}		

}

code {
	font-family: 'EversonMono', "Courier New", Courier, monospace;
	font-size: 36px;
	line-height: 48px;
}

a{
	text-decoration: none;
}

figcaption {
	font-size: 22px;
	line-height: 30px;
}

sup, #note-text {
	font-family: PingFangSC-Semibold, Arial, Helvetica, sans-serif;
	font-size: var(--supsize);
	hyphens: auto;
}


/* page */

body {
	color: var(--text);
	background: var(--main-color);		
}


/*---------------------
HOMEPAGE 
-----------------------*/

#home {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	h1{
		font-size: 8vw;
		margin-top: -0.5em;
		color: var(--white);
	}
	.title{		
		&:hover{
			cursor: pointer;
			@extend .outline;
		}
	}
}
.title-panel{
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	padding: 1em;
	overflow-y: scroll;
	background: var(--white);
	color: var(--text);
	display: none;
	// mix-blend-mode: overlay;
	list-style-type: none;
	&#questions {
		a{
			color: var(--black);
		}
		mix-blend-mode: lighten;
	}
	li{
		margin-bottom: 1em;
		&:hover{
			cursor: pointer;
			-webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: black;
		}
	}
}
[data-toggle=hidden]{
	.title-panel{
		display: none !important;
	}
}
[data-toggle=questions]{
	#questions{
		display: block;
	}
	h1, #designers{
		display: none;
	}
}
[data-toggle=designers]{
	#designers{
		display: block;
	}
	h1, #questions{
		display: none;
	}
}
.outline{
	color: white;
	-webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}

/*---------------------
RESPONSES 
-----------------------*/

footer{
	font-size: var(--runnersize);
	position: fixed;
	bottom: 0;
	width: 100vw;
	display: flex;
	justify-content: end;
	padding: calc( var(--pad) * 2) var(--pad) calc( var(--pad) * .5);
	background: linear-gradient(180deg, var(--transparency) 0%, var(--white) 40%);
	z-index: 1;

	@include at-media(mobile) {
		padding: calc( var(--pad) * 4) var(--pad) calc( var(--pad) * .5);
	}

	a {
		color: var(--main-color);
	}
	div {
		flex: 1 1;
	}
}

.slides{
	display: flex;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
}

.title{
	color:  white;		

	footer{
		z-index: 20;
		position: absolute;
		left: 0;
		a {
			color: white;
		}
	}
}

.card{
	min-height: 100vh;
	width: 100vw;
	flex-shrink: 0;	
	// padding: var(--pad);
	position: relative;
	overflow: hidden;
	scroll-snap-align: start;

	.heading{
		font-size: var(--runnersize);
		margin-bottom: 1em;
	}

	&#cover{
		background: radial-gradient(200% 100% at 50% 100%, var(--white) 0%, var(--main-color) 40%);	
		padding: var(--pad);	
		position: relative;
		z-index: 10;

		@include at-media(mobile) {
			background: radial-gradient(130% 100% at 50% 100%, var(--white) 20%, var(--main-color) 100%);
		}

		footer {
			background: transparent;

			a {
				color: var(--main-color);				
			}
		}

	}

	&.title {
		padding: var(--pad);		
		position: relative;
		z-index: 10;

		footer {
			background: transparent;

			a {
				color: var(--main-color);				
			}
		}
	
	}

	&.response{
		background: var(--white);
		color: var(--main-color);

		a {
			color: var(--main-color);
			text-decoration-line: underline;			
			text-decoration-style: dotted;
		}

		.content {
			overflow: scroll;
			height: 100%;
			padding: var(--pad);
			padding-bottom: calc(var(--pad)*3);

			@include at-media(mobile) {
				padding-bottom: 20vh;
			}
		}
	}

	img, video {
		display: block;
		max-height: calc(100vh - 200px);
		max-width: calc(100vw - 200px);
		width: auto;
		height: auto;
		margin: auto;
	}


	a.hover, .hover {
		color: var(--main-color);
		display: inline-block;
		border: 2px solid var(--main-color);
		padding: 2px 15px;
		border-radius: 30px;
		margin: 2px 0px;	
		cursor: pointer;
	}
}
figcaption {
	text-align: center;
	display: block;
	font-weight: normal;
	text-decoration: none;
	margin: auto;
}
sup {
	color: var(--main-color);
	border: 3px solid var(--main-color);
	padding: 2px 12px;
	border-radius: 30px;
	cursor: pointer;
	margin: 0px 0px 0px 2px;

	@include at-media(mobile) {
		padding: 2px 8px;
		border: 2px solid var(--main-color);
	}
}

sup:hover {
	background-color: var(--main-color);
	color: white;
	border: 3px solid var(--white);	

	@include at-media(mobile) {
		border: 2px solid var(--white);
	}

}