<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <!-- Primary Meta Tags -->
    <title>Questions for Designers</title>
    <meta name="title" content="Questions for Designers">
    <meta name="description" content="Questions for Designers">

    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/css/style.css" rel="stylesheet">
    
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script type="module" src="/assets/js/script.js"></script>

</head>
<body>
    {{ content }}
</body>
</html>
