---
layout: default.html
title: Questions for Designers
id: home
---

<main data-toggle="hidden">
<h1><span class="title" id="questions-title">Questions</span> <span class="outline">for</span> <span class="title" id="designers-title">Designers</span></h1>

<ul class="title-panel" id="questions">
{% for q in questions %}
	<li class="question"><a href="questions/{{q.title | slug}}">{{q.title}}</a></li>
{% endfor %}
</ul>
<ul class="title-panel" id="designers">
{% for d in collections.designer %}
	<li class="designer"><a href="{{d.url}}"><span style="color: #{{d.data.color}}">{{d.data.symbol}} {{d.data.name}}</span></a></li>
{% endfor %}
</ul>
</main>